* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

html {
    height: 100%;
}

body {
    background-color: rgb(17, 98, 189);
    color: aliceblue;
    height: 100%;
    margin: 0;
}

h2 {
    font-size: 1.8em;
}

/* =================== */
.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}
.logo-wrapper {
    display: flex;
    align-items: center;
    background-color: rgb(17, 98, 189);
    width: 100%;
}
.logo-wrapper h1 {
    font-size: 1.8em;
    margin: 2em 0;
    color: rgb(255, 255, 255); /* Цвет текста */
    /* font-weight: bold; */
}

.logo-wrapper img {
    margin-right: 0.5em;
}

.container {
    min-height: calc(78.5% - 1rem);
    min-width: calc(90% - 1rem);
    /* max-width: 100px; */
    background-color: rgb(216, 203, 87);
    border-radius: 1em;
}

.button-container {
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button-container button {
    font-size: 1.5em;
    width: 10em;
    padding: 0.5em;
    margin-bottom: 2.3em;
    border-radius: 1em;
    color: rgb(244, 248, 251);
    text-shadow: 2px 2px 2px black;
    box-shadow: 2px 2px 2px black;
    background-color: rgb(17, 98, 189);
}

.button-container button:last-child {
    margin-bottom: 0;
}

@media (min-width: 885px) {
    .button-container {
        height: 90%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .button-container button {
        font-size: 1.5em;
        height: 7em;
        width: 7em;
        padding: 0.5em;
        border-radius: 1em;
        color: rgb(244, 248, 251);
        background-color: rgb(53, 134, 227);
        margin-bottom: 0;
        margin-right: 3em;
    }

    .button-container button:last-child {
        margin-right: 0;
    }
}

@media (min-width: 600px) {
    .search-container {
        margin-top: 3em;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        flex-wrap: wrap;
    }

    .search-item {
        margin-right: 5em;

        margin-bottom: 0;
    }

    .search-item:last-child {
        margin: 0;
    }

    .sub-title input {
        width: 20em;
    }
}
