* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 3px solid black; */
}

html {
    height: 100%;
}

body {
    background-image: url(./img/background.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: aliceblue;
    height: 100%;
    margin: 0;
}

.page-container {
    display: flex;
    flex-direction: column;
    padding: 1em;
    height: 100%;
}

h1 {
    text-shadow: 4px 4px 2px black;
    margin-top: 1.5em;
    font-size: 3em;
    display: flex;
    /* flex-direction: column; */
    justify-content: center; /* Центрирование по вертикали */
    align-items: center;
    text-align: center;
}

.start-page {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Центрирование по вертикали */
    align-items: center; /* Центрирование по горизонтали */
    height: 100%;
}

.start-page button {
    padding: 0.5em;
    min-width: 9em;
    min-height: 3em;
    margin-bottom: 3em;
    font-size: 2em;
    border-radius: 1em;
    box-shadow: 1px 1px 2px black;
    text-align: center;
}

main button:last-child {
    margin-bottom: 0;
}

/* ========================= */

#pokemonSearchDisplay {
    display: none;
}

#pokemonSearchDisplay button {
    padding: 0.5em;
    border-radius: 0.5em;
}

.sub-title {
    display: flex;
    justify-content: center;
    margin-top: 3em;
}

.sub-title input {
    border-radius: 0.5em;
    margin-right: 2em;
}

.search-container {
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.search-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    max-width: 20em;
    height: 13em;
    max-height: 15em;
    background-color: rgb(123, 92, 152);
    padding: 1em;
    border-radius: 1em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 1em;
    position: relative;
    transition: all 0.3s ease;
}

.search-item:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.add-to-team,
.add-to-reserv {
    position: absolute;
    bottom: 10%; /* Или другое значение для позиционирования */
    left: 50%;
    transform: translateX(-50%); /* Центрирование кнопок */
    display: none; /* Скрыть кнопки по умолчанию */
    transition: all 0.3s ease;
}

.search-item:hover .add-to-team,
.search-item:hover .add-to-reserv {
    display: block;
}

.search-item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    grid-column: 1;
    align-self: center;
    border-radius: 1em;
}

.pokemon-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: 2;
    padding-left: 1em;
}

.pokemon-name {
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

.pokemon-skills {
    font-size: 1em;
    color: #fff;
}

@media (min-width: 600px) {
    .search-container {
        margin-top: 3em;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        flex-wrap: wrap;
    }

    .search-item {
        margin-right: 5em;

        margin-bottom: 0;
    }

    .search-item:last-child {
        margin: 0;
    }

    .sub-title input {
        width: 20em;
    }
}
