@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Signika&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* border: 3px solid black; */
}

html {
    height: 100%;
}

body {
    background-image: url(./img/background.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: aliceblue;
    height: 100%;
    margin: 0;
}

.page-container {
    display: flex;
    flex-direction: column;
    padding: 1em;
    height: 100%;
    /* background-color: aquamarine; */
}

h1,
h2 {
    text-shadow: 5px 5px 2px black;
    margin-top: 1.5em;
    font-size: 3em;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 0.7em;
    font-family: "Press Start 2P";
}

/* .header,
.start-page {
    background-color: aqua;
} */

button {
    background-color: #157889;
    font-family: Signika;
    color: white;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}

.start-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.start-page button {
    padding: 0.5em;
    min-width: 9em;
    min-height: 3em;
    margin-bottom: 3em;
    font-size: 2em;
    border-radius: 1em;
    box-shadow: 2px 2px 2px black;
    border: 2px solid black;
    font-weight: bold;
}

button:hover {
    background-color: #1ea4bc;
    box-shadow: 0px 0px 4px grey;
}

button:active {
    transform: translateY(2px);
}

main button:last-child {
    margin-bottom: 0;
}

/* ========================= */

#pokemonSearchDisplay,
#teamDisplay,
#reservDisplay {
    display: none;
}

#pokemonSearchDisplay button,
#teamDisplay button,
#reservDisplay button {
    padding: 0.5em;
    border-radius: 0.5em;
    font-size: 1em;
}

.sub-title {
    display: flex;
    justify-content: center;
    margin-top: 3em;
}

.sub-title input {
    border-radius: 1em;
    margin-right: 2em;
    padding: 1.5em;
}

#pokemonSearchDisplay .sub-title button {
    padding: 1em;
}

.search-container {
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    /* background-color: aqua; */
}

.search-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    max-width: 20em;
    height: 13em;
    max-height: 15em;
    background-color: rgb(125, 140, 48);
    padding: 1em;
    border-radius: 1em;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 1em;
    position: relative;
    transition: all 0.3s ease;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.search-item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    grid-column: 1;
    align-self: center;
    border-radius: 1em;
}

.pokemon-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: 2;
    padding-left: 1em;
    text-shadow: 1px 1px 2px black;
}

.pokemon-name {
    font-size: 1.5em;
    margin-bottom: 1em;
    color: #e7e7e7;
}

.pokemon-name:first-letter {
    text-transform: uppercase;
}

.pokemon-type {
    margin-bottom: 0.5em;
    font-size: 1em;
    color: #e7e7e7;
}

.pokemon-skills {
    font-size: 1em;
    color: #e7e7e7;
}

.buttons-container {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.buttons-container button {
    margin: 0 5px;
    width: 8em;
}

.search-item:hover .buttons-container {
    display: flex;
}

.search-item:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.search-item:hover img,
.search-item:hover .pokemon-info {
    visibility: hidden;
}

#pokemonSearchDisplay .buttons-container button,
#teamDisplay .buttons-container button {
    padding: 0.8em;
    font-size: 1em;
}

#teamDisplay .buttons-container button {
    padding: 0.8em;
    font-size: 1em;
    max-width: 128px;
}
/* ================== */

.team-header {
    display: flex;
    justify-content: space-between;
}

.team-counter {
    background-color: #fff;
    color: black;
    border-radius: 0.5em;
    align-self: center;
    padding: 0.5em;
    border: 1px solid black;
}

.nameChanger {
    display: none;
    padding: 0.5em;
}

@media (min-width: 600px) {
    .search-container {
        margin-top: 3em;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .search-item {
        margin-right: 5em;

        margin-bottom: 0;
    }

    .search-item:last-child {
        margin: 0;
    }

    .sub-title input {
        width: 20em;
    }

    .team-header {
        display: flex;
        justify-content: space-around;
    }

    .page-container {
        padding: 3em;
    }
}

@media (max-width: 350px) {
    .team-header {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
    }
    #teamDisplay button,
    #reservMenu {
        max-width: 53.3px;
    }

    h2 {
        margin-top: 0.5em;
    }

    .team-counter {
        margin-top: 3em;
    }
    .search-item:hover .buttons-container {
        display: flex;
        flex-direction: column;
    }

    .search-item:hover .buttons-container :first-child {
        margin-bottom: 0.9em;
    }
}

@media (min-width: 1000px) {
    .start-page {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 200%;
    }
    .start-page button {
        margin-bottom: 0;
    }
}

@media (max-width: 1000px) {
    .start-page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80%;
    }
}
